*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Lato',sans-serif;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
.container{
    width: 1140px;
    margin: 0 auto;
    background-color: lavender;
    padding: 0 20px;
}
.content{
    width: 70%;
    float: left;
}
form{
    float: left;
    width: 25%;
}